@use './vars';

@media screen and (min-width: 768px) {
    .header__navbar__menu__ul {
        width: 100%;
        display: flex;
        justify-content: space-around;

        li {
            padding: 0.5rem;

            &:hover {
                border-bottom: 2px solid vars.$color-accent2;
            }
            }
    }
    
    .footer__flex {
        display: grid;
        align-items: flex-start;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 18rem 28rem;
        grid-template-areas:
        "menu_desplegable redes_sociales"
        "encontranos encontranos";
    }

    .footer__flex__menu {
        grid-area: menu_desplegable;
        cursor: default;
        margin-left: .5rem;
    }

    .footer__flex__menu--colapsable {
        display: none;
    }

    .footer__flex__menu--fijo {
        display: inline-block;
    }

    .footer__flex__menu__links {
        flex-direction: row;
        justify-content: space-around;

        li {
            &:hover {
                border-bottom: 2px solid vars.$color-accent2;
            }
        }
    }

    .footer__flex__menu__links--colapsable {
        display: none;
    }

    .footer__flex__menu__links--fijo {
        display: flex;
    }

    .footer__flex__redes {
        grid-area: redes_sociales;
        margin-top: 1rem;

        li {
            &:hover {
                background-color: vars.$color-accent2;
            }
        }
    }

    .footer__flex__direccion {
        font-size: 2rem;
        grid-area: encontranos;
        align-self: center;
    }

    .footer__flex__direccion__textoMapa {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer__flex__direccion__textoMapa__texto {
        &:hover {
            text-decoration: underline;
            text-decoration-color: vars.$color-accent2;
        }

        &:active {
            a {
                color: vars.$color-accent;
            }
        }
    }

    .footer__copyright {
        font-size: 1.5rem;
    }

    .whatsapp {
        width: 8rem;
        height: 8rem;
        bottom: 3rem;
        right: 3rem;

        &:hover {
            transform: scale(1.1);
            transition: .2s linear;
        }
    }

    .imagen__carrito {
        width: 8rem;
        height: 8rem;
        bottom: 3rem;
        left: 3rem;

        &:hover {
            transform: scale(1.1);
            transition: .2s linear;
        }
    }

    .index__articulo {
        flex-direction: row;
        align-items: center;

        &:hover {
            transform: scale(1.02);
            transition: .2s linear;
            background-color: vars.$color-accent2;
        }
    }

    .index__articulo--impar {
        flex-direction: row-reverse;
    }


    .index__articulo__imagen {
        min-width: 40rem;
        height: 40rem;
    }

    .sobreNosotros {
        display: contents;
    }

    .sobreNosotros__imagen {
        width: 30rem;
        height: 30rem;
        margin: 1rem;
    }

    .imagen1 {
        float: left;
    }

    .imagen2 {
        float: right;
    }

    .blog__entrada {
        font-size: 2rem;
        line-height: 3.25rem;
    }

    .contacto {
        flex-direction: row-reverse;
        align-items: flex-start;
    }

    .contacto__telefono {
        min-width: 35%;
        max-width: 40%;
    }

    .contacto__correo__formulario__completar {
        width: 40rem;
    }
    .contacto__correo__formulario__cuerpo {
        width: 100%;
    }

    .tienda__producto::after {
        bottom: -80px;
        height: 5rem;
        font-size: 2rem;
        background-color: vars.$color-main2;
        color: vars.$color-accent;
        display: inline-block;
    }

    .tienda__producto__nombre {
        top: 17.5rem;
    }

    .tienda__producto__precio {
        font-size: 3rem;
    }

    .producto {
        display: grid;
        grid-template-columns: 6fr 0.25fr 2fr;
        grid-template-areas: 
        "grid1 . grid2"
        ;
    }

    .producto__principal {
        grid-area: grid1;
    }

    .producto__seguirComprando {
        grid-area: grid2;
    }

    .producto__principal__formulario {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .producto__principal__imagen {
        height: 40vh;
    }

    .card__descripcion {
        height: 70%;
        bottom: 0;
    }

    .card {
        &:hover {
            .card__descripcion {
                transform: translateY(100%);
            }
        }
    }
}