@use './vars';

@media screen and (max-width: 380px) {
    .header__banner__nombre__icono {
        width: 4rem;
        height: 4rem;
    }

    .header__banner__nombre__titulo {
        font-size: 2rem;
        margin-top: 0.5rem;
    }

    .header__navbar__menu__icono {
        width: 4rem;
        height: 4rem;
    }

    .whatsapp {
        height: 6rem;
        width: 6rem;
    }

    .footer__flex__redes__ul {
        li {
            width: 8rem;
            height: 8rem;
        }
    }
    
    .index__articulo__imagen {
        width: 20rem;
        height: 20rem;
    }

    .sobreNosotros__imagen {
        height: 20rem;
        width: 20rem;
    }

    .contacto__correo__formulario__completar {
        position: relative;
        width: 20rem;
        margin-top: 3rem;
    }

    .boton {
        font-size: 1.5rem;
    }

}