@use './vars';

.sobreNosotros {
    padding: 2rem;
    font-size: 2rem;
    border: 0.25rem solid vars.$color-font;
    border-radius: 4rem;
}

.sobreNosotros__articulo__texto {
    text-indent: 2rem;
    text-align: justify;
    line-height: 3rem;
    padding: 1rem;
    align-self: center;
}

.sobreNosotros__articulo__imagen {
    pad: 1rem;
    overflow: hidden;
    align-self: center;
    border-radius: 4rem;

    img {
        width: 100%;
        height: 100%;
    }
}