@use './vars';

.tienda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem;
}

.tienda__producto {
    width: 25rem;
    height: 60rem;
    transition: all 120ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: vars.$color-accent2;
    padding: 1em;
    padding-bottom: 3.4em;
    position: relative;
    overflow: hidden;
    margin-bottom: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    z-index: 0;
    border: 0.25rem solid vars.$color-border;
    box-shadow: 1px 1px 10px vars.$color-border;

    .boton {
        grid-area: boton;
        z-index: 1;
        overflow: hidden;
        position: absolute;
        bottom: 0.5rem;

        &::before {
            transition: .3s ease;
        }

        &::after {
            content: '';
            position: absolute;
            left: -22rem;
            bottom: -7rem;
            height: 100%;
            width: 100%;
            background-color: vars.$color-main2;
            border-radius: 4px 4px 0 0;
            transition: .3s ease;
            z-index: -1;
        }

        &:hover {
            &::after {
                left: 0;
                bottom: 0;
                background-color: vars.$color-main2;
                transition: .3s ease;
                z-index: -1;
                height: 100%;
            }
        }
    }
}

.tienda__producto__nombre { 
    color: vars.$color-font;
    background-color: vars.$color-accent2;
    width: 100%;
    font-size: 2rem;
    position: absolute;
    bottom: 2rem;
    font-weight: bold;
    text-align: center;
}

.tienda__producto__descripcion {
    color: vars.$color-font;
    background-color: vars.$color-accent2;
    width: 100%;
    font-size: 2rem;
    text-align: center;
    position: absolute;
    top: 25rem;
}

.tienda__producto__botones {
    color: vars.$color-font;
    background-color: vars.$color-accent2;
    width: 100%;
    font-size: 2rem;
    position: absolute;
    bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem 0 1rem;

    .porcion {
        grid-area: peso;
        width: 9rem;
        height: 3rem;
        justify-self: center;
    }
    
    .cantidad {
        grid-area: cantidad;
        width: 6rem;
        height: 3rem;
        justify-self: center;

    }
}

.tienda__producto__precio {
    color: vars.$color-font;
    background-color: vars.$color-accent2;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 15rem;
    text-align: center;
}

.tienda__producto__imagen {
    width: 100%;
    height: 23rem;
    place-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;

    img {
        width: 100%;
        height: 100%;
    }
}

.toasty {
    font-size: 1.5rem;
    border-radius: 4px;
}



.carrito__container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    background-color: vars.$color-main;
    background-color: rgba(220, 220, 221,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.carrito__inactivo {
    display: none;
}

.carrito {
    position: relative;
    border: 0.25rem solid vars.$color-border;
    box-shadow: 1px 1px 10px vars.$color-border;
    background-color: vars.$color-main;
    z-index: 6;
    padding: 1rem;
    width: 80rem;

    h3 {
        text-align: center;
    }
}

.carrito__cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    padding: 0;
    color: red;
    cursor: pointer;
}

.carrito__producto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    $grid-gutter-width: 1rem;  
    p {
        margin: 0;
    }

    .boton {
        padding: 0.5rem;
        font-size: 1.25rem;

        &::before {
            transition: .1s ease;
        }
    }
    
    .eliminar__producto{
        color: red;

        &:hover {
            color: red;
        }

        &::before {
            background-color: red;
        }
    }
}

.carrito__total {
    text-align: right;
}

.carrito__botones {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .boton {
        z-index: 7;
        overflow: hidden;

        &::before {
            transition: .2s ease-in-out;
        }

        &::after {
            content: '';
            position: absolute;
            left: -22rem;
            bottom: -7rem;
            height: 100%;
            width: 100%;
            background-color: vars.$color-main2;
            border-radius: 4px 4px 0 0;
            transition: .2s ease;
            z-index: -1;
        }

        &:hover {
            &::after {
                left: 0;
                bottom: 0;
                background-color: vars.$color-main2;
                transition: .2s ease;
                z-index: -1;
                height: 100%;
            }
        }
    }

    .vaciar {
        color: red;

        &:hover {
            color: red;
        }

        &::before {
            background-color: red;
            transition: .2s ease;
        }
    }
}

