@use './vars';

.tienda {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 4rem;
}

.tienda__producto {
    width: 25rem;
    height: 30rem;
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: vars.$color-main;
    padding: 1em;
    padding-bottom: 3.4em;
    position: relative;
    overflow: hidden;
    margin-bottom: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 1rem;
    z-index: 0;
    border: 0.25rem solid vars.$color-border;
    box-shadow: 1px 1px 10px vars.$color-border;

    &::after {
        content: "Ver más";
        padding-top: 1.15rem;
        position: absolute;
        left: 0;
        bottom: 0px;
        background: vars.$color-accent;
        color: vars.$color-font;
        height: 4rem;
        width: 100%;
        transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
        font-weight: bolder;
        font-size: 1.5rem;
        text-transform: uppercase;
        text-align: center;
        display: none;
    }

    &:hover{
            &::after {
            bottom: 0;
        }
    }
}


.tienda__producto__nombre { 
    color: vars.$color-font;
    background-color: vars.$color-accent2;
    width: 100%;
    font-size: 2rem;
    position: absolute;
    bottom: 2rem;
    font-weight: bold;
    text-align: center;
}

.tienda__producto__precio {
    color: vars.$color-font;
    background-color: vars.$color-accent2;
    width: 100%;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    text-align: center;
}

.tienda__producto__imagen {
    width: 100%;
    height: 23rem;
    place-items: center;
    overflow: hidden;
    position: absolute;
    top: 0;

    img {
        width: 100%;
        height: 100%;
    }
}