$color-main: #DCDCDD;
$color-main2: #46494C;
$color-font: black;
$color-border: #4C5C68;
$color-accent: #1985A1;
$color-accent2: #C5C3C6;
$filter-light: invert(1);
$font-family: 'Raleway', sans-serif;