$color-main: #DCDCDD;
$color-main2: #2F3133;
$color-font: black;
$color-border: #4C5C68;
$color-accent: #22B0D4;
$color-accent2: #f5c6ee;
$filter-light: invert(1);
$font-family: 'Raleway', sans-serif;