$color-main: #f5efe1;
$color-main2: #9d816c;
$color-font: #5c4a3b;
$color-border: #5c4a3b;
$color-accent: #7CD6F0;
$color-accent2: #bba18b;
$filter-light: invert(1);
$font-family: 'Raleway', sans-serif;