.whatsapp {
    position:fixed ;
    bottom: 1.5rem ;
    right: 1.5rem ;
    background-color: transparent;
    width: 7rem;
    height: 7rem;
    z-index: 2;

    img {
        height: 100%;
        width: 100%;
    }
}

.imagen__carrito {
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
    width: 7rem;
    height: 7rem;
    z-index: 2;
    cursor: pointer;

    img {
        height: 100%;
        width: 100%;
    }
}