.whatsapp {
    position:fixed ;
    bottom: 1.5rem ;
    right: 1.5rem ;
    background-color: transparent;
    width: 7rem;
    height: 7rem;
    z-index: 2;

    img {
        height: 100%;
        width: 100%;
    }
}